/* fixed header */
header {
  display: flex;
  height: 50px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* sub header */
.sub-header {
  height: 40px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

/* red countdown timer */
.countdown-timer {
  color: red;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

/* time started */
.time-started {
  font-size: 14px;
  padding: 5px;
}

/* date started */
.date-started {
  font-size: 14px;
  padding: 5px;
}

/* .exam-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
} */

.container {
  max-width: 1200px;
  width: 100%;
  min-width: 400px;
}
.dated {
  font-size: 14px;
  padding: 5px;
}

iframe {
  width: 1px;
  min-width: 100%;
  height: 100vh;
}
.date_date_set {
  display: flex;
}

.exam-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

/* make the header responsive on mobile */

@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color: #333;
    color: #fff;
    align-items: center;
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    /* right: 0; */
    z-index: 1;
    margin: 0;
    text-align: center;
  }
  .header h3 {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .sub-header {
  }
}
